#mythic_sidebar li {
  position: relative;
}
#mythic_sidebar li .control {
  position: absolute;
  right: 6px;
  display: none;
}

#mythic_sidebar li:hover .control {
  display: inline-block;
}

#mythic_sidebar ul {
  list-style: none;
}
  
.thread_control, .write_to_pad {
  font-family: "fontawesome-etherpad";
  color:#666;
  font-size:12px;
  padding-top:2px;
  line-height:13px;
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}

.stop:before{
  content: "\e82d";
}

.play:before{
  content: "\e82c";
}
.delete:before{
  content: "\e82a";
}
.write_to_pad:before{
  content: "\e834";
}

#mythic_sidebar .passive {
  text-decoration: line-through;
}

#mythic_sidebar .active .delete {
  display: none;
}

#mythic_sidebar .title, #mythic_sidebar input {
  width: calc(100% - 30px);
}

#mythic_sidebar input {
  display: none;
}

#mythic_sidebar #newnpc, #mythic_sidebar #newthread {
  display: block;
}

#mythic_sidebar .editing input {
  display: block;
}
#mythic_sidebar .editing .title, #mythic_sidebar .editing .thread_control {
  display: none;
}
