<p>
  <label for="mythic-texttemplates">Text templates for Mythic events</label>
  <textarea id="mythic-texttemplates">
Scene %(number)d: %(title)s
%(question)s (%(possibility)s) %(result)s (Roll was: %(roll)d) %(doubles)s
Chaos factor goes up to %(chaos)d
Chaos factor goes down to %(chaos)d
%(focus)s (Roll was %(roll)d)
The scene is interrupted! (Scene roll: %(roll)d)
The scene is altered! (Scene roll: %(roll)d)
(Scene roll: %(roll)d)
Current threads:
NPC list:
  </textarea>
</p>
