<div class="start" id="mythic_sidebar">
  <h2>Threads</h2>
  <ul id="threads">
    <li><input id="newthread" placeholder="Start a thread..."></li>
  </ul>
  <h2>NPC's</h2>
  <ul id="npcs">
    <li><input id="newnpc" placeholder="Add a NPC..."></li>
  </ul>
</div>


<style type="text/css">
#editorcontainer{
  right:192px;
}

#titlesticky {
  display: none;
}
</style>

<style type="text/css">
#mythic_sidebar {
  background-color: red;
  
  position: absolute;
  bottom: 0px;
  right: 20px;
  width: 180px;
  height: 200px;
  z-index: 399; /* Behind chatbox */
  background-color: #f7f7f7;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  border-top: 1px solid #999;
  padding: 3px;
  padding-bottom: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: block;
  right: 0px !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  height: auto !important;
  border: none !important;
  border-left: 1px solid #ccc !important;
  width: 185px !important;
}
</style>